body{
    font-family: 'EB Garamond', serif;
    background-color: #f0c2e0;
}

header{
    color: white;
    background-color: #ee9ed3;
    padding: auto;
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.selecTab{
    width: 80%;
    display: block;
    float: left;
}
.carta{
    max-width: 100%;
    height: auto;
    
}

.tablero{
    width: 30%;
    
}

.tableros{
    display: none;
}

.panel{
    width: 20%;
    display: none;
    float: right;
    margin-top: 10%;
}

#mazo{
    max-width: 50%;
    border: 2px solid white;

}

.btn { 
    color: white;
    background-color: rgb(97, 8, 60);
    margin: 5px;
}

.btn-warning:hover {
    background-color: white;
}

