.selecTab{
    width: 80%;
    display: block;
    float: left;
}
.carta{
    max-width: 100%;
    height: auto;
}

.tablero{
    width: 30%;
    
}

.tableros{
    display: none;
}

.panel{
    width: 20%;
    display: none;
    float: right;
    margin-top: 10%;
}
#mazo{
    max-width: 50%;
    border: 2px solid black;
}